version: '2.0'
secrets:
- name: pgvector
  vaultPrefixes:
  - hub
  fields:
  - name: user
    value: ''
  - name: password
    onMissingValue: generate
    vaultPolicy: validatedPatternDefaultPolicy
  - name: host
    value: ''
  - name: port
    value: ''
  - name: dbname
    value: ''
