version: '2.0'
secrets:
- name: pgvector
  vaultPrefixes:
  - hub
  fields:
  - name: user
    value: ''
  - name: password
    onMissingValue: generate
    vaultPolicy: validatedPatternDefaultPolicy
  - name: host
    value: ''
  - name: port
    value: ''
  - name: dbname
    value: ''
- name: llm-service
  vaultPrefixes:
  - hub
  fields:
  - name: HF_TOKEN
    onMissingValue: prompt
- name: configure-pipeline
  vaultPrefixes:
  - hub
  fields:
  - name: MINIO_ACCESS_KEY
    onMissingValue: prompt
  - name: MINIO_SECRET_KEY
    onMissingValue: prompt
  - name: LLAMASTACK_BASE_URL
    value: ''
  - name: DS_PIPELINE_URL
    value: ''
  - name: SOURCE
    value: ''
  - name: EMBEDDING_MODEL
    value: ''
  - name: NAME
    value: ''
  - name: VERSION
    value: ''
  - name: ACCESS_KEY_ID
    onMissingValue: prompt
  - name: SECRET_ACCESS_KEY
    onMissingValue: prompt
  - name: BUCKET_NAME
    value: ''
  - name: REGION
    value: ''
- name: llama-stack
  vaultPrefixes:
  - hub
  fields:
  - name: GOOGLE_APPLICATION_CREDENTIALS
    onMissingValue: prompt
