version: '2.0'
secrets:
- name: quickpat-zpoz2owp-secrets
  vaultPrefixes:
  - global
  fields:
  - name: apiKey
    onMissingValue: prompt
  - name: model_apiKey
    onMissingValue: prompt
  - name: password
    onMissingValue: prompt
  - name: postgres_password
    onMissingValue: prompt
  - name: pgadmin_password
    onMissingValue: prompt
  - name: postgres_password_2
    onMissingValue: prompt
  - name: postgres_password_3
    onMissingValue: prompt
  - name: readonlyPassword
    onMissingValue: prompt
